[Unit]
Description=Enviro-exporter service
After=network.target

[Service]
User=pi
Group=pi
ExecStart=/python3 enviro-exporter --port=8003
ExecReload=/bin/kill -HUP $MAINPID
Environment="INFLUXDB_TIME_BETWEEN_POSTS=10"

[Install]
WantedBy=multi-user.target
